.MetroMap {
    color: red;
    height: 100vh;
    width: 100vw;
    .leaflet-container {
        height: 100%;
        width: 100%;
    }
    .leaflet-control-container {
        display: none;
    }
}