.RailPredictions {
    .predictions-container {
        position: fixed;
        bottom: 10px;
        left: 10px;
        width: 288px;
        background: #2b2b2b;
        border: 1px solid grey;
        border-radius: 2px;
        z-index: 999;
        color: white;
        padding: 5px;
        //overflow-y: auto;
        max-height: 50vh;
    }
    .station-name {
        display: inline-block;
        max-width: calc(100% - 22px);
    }

    .table-header {
        border-bottom: 1px solid grey;
        margin-bottom: 5px;
        display: flex;
    }
    .table-body {
        max-height: calc(50vh - 80px);
        overflow-y: auto;
    }
    .table-row {
        display: flex;
        height: 20px;
        margin-bottom: 5px;
        line-height: 20px;
    }
    .cell {
        display: inline-block;
        font-size: 12px;
        height: 20px;;
    }

    .first-row {
        border-top: 1px solid grey;
        height: 26px;
        padding-top: 5px;
    }

    .line-cell {
        width: 40px;
    }
    .destination-cell {
        width: 100px;
    }

    .minutes-cell {
        width: 60px;
    }

    .car-cell {
        width: 30px;
    }

    .line-indicator {
        width: 20px;
        height: 20px;
        line-height: 22px;
        text-align: center;
        border-radius: 50%;
        font-size: 11px;
        margin-left: 4px;
        float: left;
    }
    .close-button {
        height: 18px;
        width: 18px;
        user-select: none;
        text-align: center;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('../../assets/close.png');
        background-size: 18px 18px;
        float: right;
    }
}