.SideMenu {
    .select-container {
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        //transition: transform 0.2s cubic-bezier(0, 1, 0, 1);
        &.visible {
            max-height: 10000px;
        }
        &.hidden {
            overflow: hidden;
            max-height: 0;
            //transform: scale(0);
        }
    }
    .toggle-wrapper {
        width: 100%;
        margin-bottom: 10px;
        border-left: 2px solid;
        display: inline-block;
        position: relative;
        padding-left: 10px;
        label {
            display: inline-block;
            width: 100%;
        }
    }
    .react-toggle {
        cursor: default;
        .react-toggle-thumb {
            border-color: #2b2b2b;
        }
        float: right;
        display: block;
    }
    .toggle-label {
        float: left;
        height: 24px;
        margin-right: 5px;
    }
    .react-toggle--focus .react-toggle-thumb {
        box-shadow: none;
    }

    .custom-toggle.react-toggle--checked {
        &.red {
            .react-toggle-track {
                background-color: red;
            }
        }
        &.orange {
            .react-toggle-track {
                background-color: orange;
            }
        }
        &.yellow {
            .react-toggle-track {
                background-color: yellow;
            }
        }
        &.green {
            .react-toggle-track {
                background-color: green;
            }
        }
        &.blue {
            .react-toggle-track {
                background-color: blue;
            }
        }
        &.silver {
            .react-toggle-track {
                background-color: silver;
            }
        }
        &.show-tiles {
            .react-toggle-track {
                background-color: lightblue;
            }
        }
    }
}