div.global-tooltip.show {
    z-index: 9001;
    max-width: 260px;
    opacity: 1;
}

// These things fade out when display mode is enabled
.leaflet-control-zoom, .geolocation-button, .bm-burger-button, .geolocation-button-shadow {
    transition: opacity 0.5s ease-in-out;
}

.showcasing {
    .leaflet-control-zoom, .geolocation-button, .bm-burger-button, .geolocation-button-shadow {
        opacity: 0;
        pointer-events: none;
    }
}

.line-indicator {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 8px;
    margin-left: 4px;
    float: left;
    font-weight: bold;
}