.DemoComponent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .input-container {
        display: inline-block;
        > div {
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}