.DemoComponent {
    height: 30px;
    width: 200px;
    position: absolute;
    border-radius: 4px;
    top: calc(50vh - 15px);
    left: calc(50vw - 100px);
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transform: scale(2, 2);

    .dark & {
        color: white;
        background: black;
        border: 1px solid white;
    }
    .light & {
        color: black;
        background: white;
        border: 1px solid black;
    }
}