//--colors
$bg--light: #F5F4F3;
$bg--dark: #2b2b2b;
$text--light: black;
$text--dark: white;
$border--light: black;
$border--dark: gray;
$hover--light: red;
$hover--dark: red;
$link--dark: red;
$link--light: red;
$icon--light: invert(100%);
$icon--dark: invert(0%);